<div th:replace="fragments/header"></div>

<div class = "container">
    <h2 class="my-3">Emails Table</h2>

    <table class="table table-striped">
        <thead>
            <th scope="col">Subject</th>
            <th scope="col">To</th>
            <th scope="col">Read</th>
            <th scope="col">Delete</th>
        </thead>
        <tbody>
        <tr th:each="email : ${emails}" >
            <td th:text="${email.getSubject()}" ></td>
            <td th:text="${email.getReceiver()}" ></td>
            <td><form th:action="@{/email}" method="get">
                    <button class="btn btn-primary" type="submit">Read</button>
                    <input type="hidden" name="id" th:value="${email.getId()}">
                </form>
            </td>
            <td th:text="${email.getReceiver()}" ></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>

<div th:replace="fragments/footer"></div>
