<div th:replace="fragments/header"></div>

<div class = "container">
    <div class="alert alert-success mt-2" role="alert" th:if="${emailWasSent}" th:text="${emailWasSent}"></div>
    <h2 class="my-3">Emails Table</h2>
    <a href="/newemail" class="btn btn-success" role="button">New email</a>
    <table class="table table-striped">
        <thead>
            <th scope="col">Subject</th>
            <th scope="col">To</th>
            <th scope="col">Read</th>
            <th scope="col">Delete</th>
        </thead>
        <tbody>
        <tr th:each="email : ${emails}" >
            <td th:text="${email.getSubject()}" ></td>
            <td th:text="${email.getReceiver()}" ></td>
            <td><form th:action="@{/email}" method="get">
                    <button class="btn btn-primary" type="submit">Read</button>
                    <input type="hidden" name="id" th:value="${email.getId()}">
                </form>
            </td>
            <td><form th:action="@{/deleteEmail}" method="post">
                <button class="btn btn-danger" type="submit">Delete</button>
                <input type="hidden" name="id" th:value="${email.getId()}">
            </form></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>

<div th:replace="fragments/footer"></div>
