<div th:replace="fragments/header"></div>

<div class = "container">
    <h2 class ="my-4">New email</h2>
    <form th:action="@{/email}"  method="post">
        <div class="form-group">
            <label>Receiver</label>
            <input name="receiver" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter first name">
        </div>
        <div class="form-group">
            <label>Subject</label>
            <input name="subject" type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Enter last name">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Text</label>
            <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-outline-success">Submit</button>
    </form>
</div>

<div th:replace="fragments/footer"></div>

